.wrapper {
  max-width: 70rem;
  /* margin: auto; */
  margin-top: -18px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 9rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: color(--gray-300-);
}

.divlIf {
  margin-top: 100px;
  margin-left: 40px;
}


