.header {
  /* position: absolute; */
  margin: 0px;
  height: 12rem;
  left: 0px;
  right: 0px;
  top: 0px;
  background: black;
  display: flex;
  justify-content: center;
}

.header img {
  width: 10rem;
}
