/* .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 170px;
  position: relative;
} */
.mainList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.1px #6495ED;
  border-radius: 8px;
  margin-top: 8px;
  position: relative;
  
}

.listForm {
  /* box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 15px;

  width: 776px;
  height: 62px;

  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  width: 750px;
  height: 62px;

  background: #262626;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  
 
}

input {
  width: 14px;
  height: 14px;
  margin-right: 20px;
}

textarea {
  width: 430px;
  max-width: 435px;
  background: #262626;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none;
  color: white;
  text-decoration: none;
  resize: none;
  
  
}

.delete {
  margin-left: 155px;
  width: 24px;
  height: 24px;

  border-radius: 4px;
  cursor: pointer;
  color: #262626;
}

.check {
  

}

/* .listForm input + textarea:before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: white;
  display: inlie-block;
} */

input:checked + textarea {
  text-decoration: line-through;
  color: gray;
}
