.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 736px;
  height: 451px;
  left: calc(50% - 736px/2);
  top: 110px;
  box-sizing: border-box;
  margin-bottom: 100px;

}

.taskI {
  width: 736px;
  height: 19px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 460px;
  margin-top: -18px;
}

li {
  list-style-type: none;
}

.formTask {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  margin-top: 10px;
  width: 736px;
  height: 408px;
}

.listForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  padding: 16px;
  gap: 12px;

  width: 736px;
  height: 72px;

  background: #262626;
  border: 1px solid #B0E0E6;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

 

}

.input {
  border: 0;
  resize: none;
  margin: 0 auto;
  width: 638px;
  height: 30px;
  border-radius: 10px;
  padding: 18px;
  background: #1C1C1C;
  gap: 8px;
  color: white;
  
}

.campos {
  border-radius: 14px;
  overflow:hidden;
  display: flex;
  justify-content: center;
  width: 736px;
  height: 64px;
  top: 173px;
  left: 352px;
  gap: 8px;
  margin-bottom: 2px;
}

button {
  font-size: 10px;
  display: flex;
  justify-content: center;
  width: 96px;
  height: 38px; 
  text-align: center;
  top: 1px;
  Left: 646px;
  border-radius: 8px;
  padding: 10px;
  background: gray;
  gap: 8px;
  font-size: 17px;
  background: #6A5ACD;
}

button:hover {
  background: #87CEEB;
}

li {
  font-family: 'Inter';
  font-style: normal;
  color: #4EA8DE;
}

span {
  background: var(--gray-400);
  color: white;
  width:24px;
  height:19px;
  padding: 2px 8px;
  border-radius: 999px;
}